
<!DOCTYPE html>
<head>
    <link href="~/css/stylehome.css" rel="stylesheet" />

</head>

<header class="p-4 ">

    <div class=" container">
        <nav class="navbar">
            <a href="/">
                <img src="~/img/compueasyslogo.png" />
            </a>

            <div class="ytcuenta">
                <a href="@Url.Action("Login","Home")">
                    Ya tienes una cuenta
                    <span class="btn">Entrar</span>
                </a>
            </div>
        </nav>
    </div>
    

</header>
<main>
     <div class="container-fluid px-4">
        @RenderBody()
     </div>
</main>