@model AppcontableCompueasys2._2.Models.Data.Usuario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsInRole("True"))
{
   
   
    <form asp-action="Edit">

        <div class="row">

            <div class="col-sm-4">

                <div class="card shadow mb-4">
                    <div class="card-header py-3 bg-second-primary">
                        <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-user"></i> Mis Datos</h6>
                    </div>
                    <div class="card-body">
                       
                        <div class="form-row" hidden>
                            <div class="form-group col-sm-12">
                                <label asp-for="IdUsuario" class="control-label"></label>
                                <input asp-for="IdUsuario" class="form-control" />
                                <span asp-validation-for="IdUsuario" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Cedula" class="control-label"></label>
                                <input asp-for="Cedula" class="form-control" />
                                <span asp-validation-for="Cedula" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Nombres" class="control-label"></label>
                                <input asp-for="Nombres" class="form-control" />
                                <span asp-validation-for="Nombres" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Apellidos" class="control-label"></label>
                                <input asp-for="Apellidos" class="form-control" />
                                <span asp-validation-for="Apellidos" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Correo" class="control-label"></label>
                                <input asp-for="Correo" class="form-control" />
                                <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Celular" class="control-label"></label>
                                <input asp-for="Celular" class="form-control" />
                                <span asp-validation-for="Celular" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>




            <div class="form-group col-sm-4">
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-user"></i> Ubicacion</h6>
                </div>
                <div class=" card shadow ">

                    <div class="card-body">
                       
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Direccion" class="control-label"></label>
                                <input asp-for="Direccion" class="form-control" />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="IdPais" class="control-label">Pais</label>
                                <select asp-for="IdPais" class="form-control" asp-items="ViewBag.IdPais"></select>
                                <span asp-validation-for="IdPais" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="IdDepartamento" class="control-label">Departamento</label>
                                <select asp-for="IdDepartamento" class="form-control" asp-items="ViewBag.IdDepartamento"></select>
                                <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="IdCiudad" class="control-label">Ciudad</label>
                                <select asp-for="IdCiudad" class="form-control" asp-items="ViewBag.IdCiudad"></select>
                                <span asp-validation-for="IdCiudad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12" hidden>
                                <label asp-for="NombreEmpresa" class="control-label"></label>
                                <input asp-for="NombreEmpresa" class="form-control" />
                                <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 bg-second-primary">
                        <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-key"></i> Cambiar Contraseña</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="EsAdministrador" class="control-label"></label>
                                <input asp-for="EsAdministrador" class="form-control" />
                                <span asp-validation-for="EsAdministrador" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Activo" class="control-label"></label>
                                <input asp-for="Activo" class="form-control" />
                                <span asp-validation-for="Activo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="FechaRegistro" class="control-label"></label>
                                <input asp-for="FechaRegistro" class="form-control" />
                                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Contrasena" class="control-label"></label>
                                <input asp-for="Contrasena" class="form-control" />
                                <span asp-validation-for="Contrasena" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="txtClaveNueva">Nueva Contraseña</label>
                                <input type="password" class="form-control form-control-sm input-validar" id="txtClaveNueva" name="Clave Nueva">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="txtConfirmarClave">Confirmar Contraseña</label>
                                <input type="password" class="form-control form-control-sm input-validar" id="txtConfirmarClave" name="Confirmar Clave">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success btn-sm btn-block" id="btnCambiarClave">Guardar Cambios</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}else
{

<div class="container-fluid pt-xl-4">

    <form asp-action="Edit">

    <div class="row">
      
        <div class="col-sm-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-user"></i> Mis Datos</h6>
                </div>
                <div class="card-body">
                      
                        <div class="form-row" hidden>
                            <div class="form-group col-sm-12">
                                <label asp-for="IdUsuario" class="control-label"></label>
                                <input asp-for="IdUsuario" class="form-control" />
                                <span asp-validation-for="IdUsuario" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Cedula" class="control-label"></label>
                                <input asp-for="Cedula" class="form-control" />
                                <span asp-validation-for="Cedula" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Nombres" class="control-label"></label>
                                <input asp-for="Nombres" class="form-control" />
                                <span asp-validation-for="Nombres" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Apellidos" class="control-label"></label>
                                <input asp-for="Apellidos" class="form-control" />
                                <span asp-validation-for="Apellidos" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                               <label asp-for="Correo" class="control-label"></label>
                               <input asp-for="Correo" class="form-control" />
                               <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Celular" class="control-label"></label>
                                <input asp-for="Celular" class="form-control" />
                                <span asp-validation-for="Celular" class="text-danger"></span>
                            </div>
                        </div>
                     
                </div>
            </div>

        </div>




        <div class="form-group col-sm-4">
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-user"></i> Ubicacion</h6>
            </div>
                <div class=" card shadow ">

            <div class="card-body">

            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label asp-for="IdPais" class="control-label">Pais</label>
                    <select asp-for="IdPais" class="form-control" asp-items="ViewBag.IdPais"></select>
                    <span asp-validation-for="IdPais" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label asp-for="IdDepartamento" class="control-label">Departamento</label>
                    <select asp-for="IdDepartamento" class="form-control" asp-items="ViewBag.IdDepartamento"></select>
                    <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label asp-for="IdCiudad" class="control-label">Ciudad</label>
                    <select asp-for="IdCiudad" class="form-control" asp-items="ViewBag.IdCiudad"></select>
                    <span asp-validation-for="IdCiudad" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12"hidden>
                    <label asp-for="NombreEmpresa" class="control-label"></label>
                    <input asp-for="NombreEmpresa" class="form-control" />
                    <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                </div>
            </div>
            </div>
           </div>

        </div>

        <div class="col-sm-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-key"></i> Cambiar Contraseña</h6>
                </div>
                <div class="card-body">
                            <div class="form-row" hidden>
                                <div class="form-group col-sm-12">
                                    <label asp-for="EsAdministrador" class="control-label"></label>
                                    <input asp-for="EsAdministrador" class="form-control" />
                                    <span asp-validation-for="EsAdministrador" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row"hidden>
                                <div class="form-group col-sm-12">
                                    <label asp-for="Activo" class="control-label"></label>
                                    <input asp-for="Activo" class="form-control" />
                                    <span asp-validation-for="Activo" class="text-danger"></span>
                                </div>
                            </div>

                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                     <label asp-for="Contrasena" class="control-label"></label>
                                    <input asp-for="Contrasena" class="form-control" />
                                    <span asp-validation-for="Contrasena" class="text-danger"></span>                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="txtClaveNueva">Nueva Contraseña</label>
                                <input type="password" class="form-control form-control-sm input-validar" id="txtClaveNueva" name="Clave Nueva">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="txtConfirmarClave">Confirmar Contraseña</label>
                                <input type="password" class="form-control form-control-sm input-validar" id="txtConfirmarClave" name="Confirmar Clave">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success btn-sm btn-block" id="btnCambiarClave">Guardar Cambios</button>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>

        
    </div>

</form>


</div>
        
}










@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}