body {

}

.sign-up-htm {
    position: absolute;
    top: 30%;
    left: 2%;
    opacity: 90%;
    padding: 50px;
    width: 350px;
    height: 480px;
}
.sign-up-htm h1{
    color:black;
    text-align:center;
    margin-top:10px;
}

    .sign-up-htm .group .input,
    .sign-up-htm .group .button {
        width: 100%;
        color: white;
        display: block;
        padding: 10px 5px;
        color: white;
       
        margin-top: 10px;
        border: none;
    }
    .sign-up-htm .group #admin, #activo{
        display:none;
    }


    .sign-up-htm .group .button {
        background: #1161ee;
        margin-top:30px;
    }
    