body {
    margin: 0px;
    padding: 0px;
    background-color: #cdd4e0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.grid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 100%;
    width: 50%;
    
    background:grey;
    opacity:10%;
}
 .img1 {
    position: absolute;
    left: 0%;
      
    
}


.login-html {
    width: 450px;
    height: auto;
    right: 15%;
    top:20%;
    position: absolute;
    padding: 140px 90px 90px 90px;
    color:black;
    
    border-radius: 10%;
   
    
    box-shadow: 20px 20px 50px 2px rgba($color: #57566d, $alpha: 1.0);
}



    .login-html h1 {
        text-align: center;
        font-weight: bold;
        color: #93c40f;
        border: none;
        border-bottom: #fff;
        position: absolute;
        top: 60px;
        left: 20%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 46px;
        text-shadow: 10px 10px 30px rgba($color: #eaeaf3, $alpha: 1.0);
    }

    
    

   

.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
    padding: 5px;
   
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}



.login-form {
    min-height: 355px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-top: 30px;
}

    .login-form .group {
        margin-bottom: 15px;
    }

        
        .login-form .group .input,
        .login-form .group .button {
            width: 100%;
            color: #fff;
            display: block;
        }

        .login-form .group .input
         {
            color:black;
            padding: 5px 5px;
                       
            border: 1px solid black;
        }

        .login-form .group .label {
            color:gray;
            font-size: 12px;
        }

        .login-form .group .button {
            background: #1161ee;

        }
            .login-form .group .button:hover{
                font-weight:bold;
            }



            .Rpass {
                color: white;
            }

.Rpass:hover {
    color: rgb(157, 119, 245);
    font-weight: bold;
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255,255,255,.2);
}

.foot-lnk {
    text-align: center;
}

@media (max-width: 860px) {
    .container .img {
        display: none;
    }
   
}
