body {

}

.sign-up-htm {
    position: absolute;
    top: 30%;
    left: 2%;
    
    padding: 50px;
    width: 350px;
    height: 480px;
    punto background: rgba(76,76,76,1);
   color:black;

}
.sign-up-htm h1{
    color:black;
    text-align:center;
    margin-top:10px;
}

    .sign-up-htm .group .input
     {
        width: 100%;
        color: white;
        display: block;
        padding: 15px 20px;
       color:black;
       
        margin-top: 10px;
    }
    .sign-up-htm .group #admin, #activo{
        display:none;
    }


    .sign-up-htm .group .button {
        background: #1161ee;
        margin-top: 30px;
        
        width: 87%;
        
        color: white;
        display: block;
        padding: 15px 20px;
        position:absolute;
        
    }
    