@model IEnumerable<AppcontableCompueasys2._2.Models.Data.Cliente>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Total de ventas -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total de Ventas
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalVenta">30</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shopping-basket fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total de Ingresos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total de Ingresos
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalIngresos">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total de Productos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total de Productos
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalProductos">50</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Total de Categorias -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Total de Categorias
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalCategorias">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tags fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart - Ventas de los ultimos 7 días -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white">Ventas de los ultimos 7 días</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="height: 350px !important;">
                        <canvas id="charVentas"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart - Productos más vendidos-->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white">Productos más vendidos</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie" style="height: 350px !important ;">
                        <canvas id="charProductos"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Detalles de comprasy -->

<div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <h6 class="m-0 font-weight-bold text-white">Historial de Venta</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row align-items-end">
                                <div class="form-group col-sm-3">
                                    <label for="cboBuscarPor">Buscar por</label>
                                    <select class="form-control form-control-sm" id="cboBuscarPor">
                                        <option value="fecha">Fechas</option>
                                        <option value="numero">Numero Venta</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3 busqueda-fecha">
                                    <label for="txtFechaInicio">Fecha Inicio</label>
                                    <input type="text" class="form-control form-control-sm" id="txtFechaInicio">
                                </div>
                                <div class="form-group col-sm-3 busqueda-fecha">
                                    <label for="txtFechaFin">Fecha Fin</label>
                                    <input type="text" class="form-control form-control-sm" id="txtFechaFin">
                                </div>
                                <div class="form-group col-sm-3 busqueda-venta">
                                    <label for="txtNumeroVenta">Numero Venta</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNumeroVenta">
                                </div>
                                <div class="form-group col-sm-3">
                                   <button class="btn btn-success btn-block btn-sm" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                                </div>
                            </div>

                            <hr/>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-sm table-striped" id="tbventa">
                                        <thead>
                                            <tr>
                                                <th>Fecha Registro</th>
                                                <th>Numero Venta</th>
                                                <th>Tipo Documento</th>
                                                <th>Documento Cliente</th>
                                                <th>Nombre Cliente</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>27/04/2022</td>
                                                <td>00001</td>
                                                <td>Boleta</td>
                                                <td>101010</td>
                                                <td>jose</td>
                                                <td>2000</td>
                                                <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalData"><i class="fas fa-eye"></i> Ver Detalle</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--  Modal-->
                    <div class="modal fade" id="modalData" tabindex="-1" role="dialog"aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6>Detalle Venta</h6>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-row">
                                                    <div class="form-group col-sm-4">
                                                        <label for="txtFechaRegistro">Fecha Registro</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtFechaRegistro" disabled>
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <label for="txtNumVenta">Numero Venta</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtNumVenta" disabled>
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <label for="txtUsuarioRegistro">Usuario Registro</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtUsuarioRegistro" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-4">
                                                        <label for="txtTipoDocumento">Tipo Documento</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtTipoDocumento" disabled>
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <label for="txtDocumentoCliente">Documento Cliente</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" disabled>
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <label for="txtNombreCliente">Nombre Cliente</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtNombreCliente" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-4">
                                                        <label for="txtSubTotal">Sub Total</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtSubTotal" disabled>
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <label for="txtIGV">IGV</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtIGV" disabled>
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <label for="txtTotal">Total</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtTotal" disabled>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table id="tbProductos" class="table table-sm table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Producto</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Precio</th>
                                                                    <th>Total</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-primary btn-sm"  target="_blank" id="linkImprimir" >Imprimir</a>
                                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>