@model AppcontableCompueasys2._2.Models.Data.Usuario


@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/BarraHome.cshtml";
}




<div class="container p-4 tb1 ">
    <div class="row mt-4">
        <div class="col-md-6 ">
            <div class="">
                <h1 class="fw-bold text-center">PROGRAMA CONTABLE</h1>
            </div>

            <div class="container">
                <div class="card text-left ">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Soy autonomo </h4>
                        <p class="card-text">
                            Empieza tu prueba gratuita

                        </p>

                    </div>
                </div>

                <div class="card text-left mt-3">
                    <a href="https://api.whatsapp.com/send?phone=3007915262&text=Hola%20buenas,%20quiero%20m%C3%A1s%20informaci%C3%B3n%20acerca%20del%20programa%20contable">
                        <img class="card-img-top" src="holder.js/100px180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Asesoria </h4>
                            <p class="card-text">
                                Solicita una asesoria personalizada

                            </p>



                        </div>
                    </a>

                </div>
                <div class="d-grid gap-2">
                    <a class="btn btn-primary mt-3" type="button" href="@Url.Action("Registro","Home")">
                        Inicia una prueba gratis
                    </a>
                </div>
               
            </div>

         



        </div>

    </div>

</div>

<div class="imagenPrincipal">
    <img src="~/img/foto principal.jpg" />

</div>



